<section class="container-content-cards">
    <p class="titulo-content-cards">Como funciona o Mané Delivery</p>
    <div class="cards">
      <div class="card">
       <figure>
        <img src="../../../assets/public/image 2.png" alt="">
       </figure>
        <h4 class="titulo-card">Onde você estiver</h4>
        <p class="texto-card">Achamos as bebidas geladinhas na sua área e levamos até você!</p>
      </div>
      <div class="card">
        <figure>
            <img src="../../../assets/public/image 5.png" alt="">
           </figure>
            <h4 class="titulo-card">Só as favoritas</h4>
            <p class="texto-card">Você pode escolher entre cervejas, vinhos, água, energéticos, refrigerantes, salgadinhos e até gelo!</p>
      </div>
      <div class="card">
        <figure>
            <img src="../../../assets/public/image 6.png" alt="">
           </figure>
            <h4 class="titulo-card">Facilita seu brinde</h4>
            <p class="texto-card">Suas bebidas chegam geladinhas e super rápidas, prontas para brindar!</p>
      </div>
    </div>
</section>
